<!DOCTYPE html>
<html lang="en">
    <%- include('../layouts/head'); -%>

    <body id="page-top">
        <!-- Navigation-->
        <%- include('../layouts/navbar'); -%>
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center" style="background-image: url('assets/img/connexion-bg.jpg')">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Connectez-vous</h1>
            </div>
        </header>

        <!-- Contact Section-->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Form-->
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">
                        <% if(locals.logout){%>
                            <div class="alter alert-success text-center">
                                <%=logout  %> 
                            </div>
                            <% } %>
                            <% if(locals.loginMessage){%>
                                <div class="alter alert-success text-center">
                                    <%=loginMessage  %> 
                                </div>
                                <% } %>
 
                        <form id="connectForm" method="post" action="/login">
                            <!-- Username input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="username" type="text" placeholder="Enter your pseudo..." name="username"/>
                                <label for="username">Votre pseudo</label>
                            </div>

                            <!-- Password input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="password" type="password" placeholder="Enter your password..." name="password"/>
                                <label for="password">Mot de passe</label>
                            </div>
                            <!-- Submit Button-->
                            <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Connect</button>

                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <%- include('../layouts/footer'); -%>
        <%- include('../layouts/scripts'); -%>
    </body>
</html>
