<!DOCTYPE html>
<html lang="en">
    <%- include('../layouts/head'); -%>

    <body id="page-top">
        <!-- Navigation-->
        <%- include('../layouts/navbar'); -%>
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center" style="background-image: url('assets/img/connexion-bg.jpg')">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Créer votre profil</h1>
            </div>
        </header>

        <!-- Sign in Section-->
        <section class="page-section">
            <div class="container">
                <!-- Sign in Section Form-->
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">
                        <% if(locals.loginError){%>
                            <div class="alter alert-success text-center">
                                <%=loginError  %> 
                            </div>
                            <% } %> 
                        <form id="signInForm" method="post" action="/signin/new">
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" name="email"/>
                                <label for="email">Adresse Email</label>
                            </div>
                            <!-- Username input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="username" type="text" placeholder="Enter your pseudo..." name="username"/>
                                <label for="username">Votre pseudo</label>
                            </div>

                            <!-- Password input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="password" type="password" placeholder="Enter your password..."  name="password"/>
                                <label for="password">Mot de passe</label>
                            </div>
                            <!-- Submit Button-->
                            <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Enregistrer</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <%- include('../layouts/footer'); -%>
        <%- include('../layouts/scripts'); -%>
    </body>
</html>
