<!DOCTYPE html>
<html lang="en">
<%- include('../layouts/head'); -%>

    <body id="page-top">
        <!-- Navigation-->
        <%- include('../layouts/navbar'); -%>

            <!-- Entête article-->
            <header class="masthead bg-primary text-white text-center"
                style="background-image: url('/assets/img/articles-bg.jpg')">
                <div class="container d-flex align-items-center flex-column">
                    <!-- Masthead Heading-->
                    <h3 class="masthead-heading text-uppercase mb-0">
                        <%= articlepost.title %>
                    </h3>
                    <hr>
                    <h4>Catégorie : <%= articlepost.category %>
                    </h4>

                    <p>article rédigé par <span class="fw-bold fst-italic">
                            <%= articlepost.author %>
                        </span> - <span class="fst-italic">
                            <%= articlepost.create_at.toDateString() %>
                        </span></p>
                </div>
            </header>

            <!-- Corps de l'article-->
            <section class="page-section text-black mb-0" id="">
                <div class="container">
                    <div class="row text-start">
                        <h2 class="page-section-heading text-center text-uppercase text-black"></h2>
                        <p class="lead">
                            <%= articlepost.content %>
                        </p>
                    </div>

                    <% if (comments) { %>
                        <!-- Icon Divider-->
                        <div class="divider-custom">
                            <div class="divider-custom-line"></div>
                            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                            <div class="divider-custom-line"></div>
                        </div>
                        <h5>Vos commentaires</h5>
                        <% for (let i=0; i < comments.length; i++) { %>
                            <div class="row text-start">
                                
                                    <p class="lead text-center">
                                        <%= comments[i].text %>
                                    </p>
                                    <p class="lead text-center">Commentaire laissé par<span class="fw-bold fst-italic"> <%= comments[i].username %></span>, le : <%=
                                                comments[i].create_at.toDateString() %>
                                    </p>
                            
                            </div>
                            <!-- Divider-->
                            <hr class="my-4" />
                            <% } %>

                                <% } %>


                                    <div class="row">
                                        <a class="col-2 comment " href="/comment/<%= articlepost._id %>">Laisser un
                                            commentaire</a>


                                        <a class="col-2 delete " data-doc="<%= articlepost._id %>">
                                            <img src="/assets/trash.svg" alt="delete icon">
                                            <!-- Supprimer l'article -->
                                        </a>

                                    </div>
                                    <% if(locals.messageComment){%>
                                        <div class="alter alert-success text-center">
                                            <%=messageComment %>
                                        </div>
                                        <% } %>


            </section>

            <!-- Footer-->
            <%- include('../layouts/footer'); -%>
                <%- include('../layouts/scripts'); -%>
                    <script>
                        const trashcan = document.querySelector('a.delete');
                        trashcan.addEventListener('click', (e) => {
                            const endpoint = `/post/${trashcan.dataset.doc}`;

                            fetch(endpoint, {
                                method: 'DELETE'
                            })
                                .then((response) => response.json())
                                .then((data) => window.location.href = data.redirect)
                                .catch(err => console.log(err));
                        })
                    </script>
    </body>

</html>